<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoriesService" transferMode="Streamed" />
                <binding name="BasicHttpBinding_IOrdersService" maxReceivedMessageSize="655360" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IOrdersSubscriptionService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49738/CategoriesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoriesService"
                contract="CategoriesService.ICategoriesService" name="BasicHttpBinding_ICategoriesService" />
            <endpoint address="http://localhost:49738/OrdersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersService"
                contract="OrdersService.IOrdersService" name="BasicHttpBinding_IOrdersService" />
            <endpoint address="http://localhost:49738/OrdersService.svc/subscription"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IOrdersSubscriptionService"
                contract="OrdersService.IOrdersSubscriptionService" name="WSDualHttpBinding_IOrdersSubscriptionService">
                <identity>
                    <userPrincipalName value="Roman_Arekeev@moscow.epam.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>