<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoriesService" />
                <binding name="BasicHttpBinding_IOrdersService" maxReceivedMessageSize="655360" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrdersService" maxReceivedMessageSize="655360" />
                <binding name="NetTcpBinding_ICategoriesService" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IOrdersSubscriptionService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/NorthwindWCFServices/OrdersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersService"
                contract="OrdersService.IOrdersService" name="BasicHttpBinding_IOrdersService" />
            <endpoint address="net.tcp://localhost/NorthwindWCFServices/OrdersService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrdersService"
                contract="OrdersService.IOrdersService" name="NetTcpBinding_IOrdersService">
            </endpoint>
            <endpoint address="http://localhost/NorthwindWCFServices/OrdersService.svc/subscription"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IOrdersSubscriptionService"
                contract="OrdersService.IOrdersSubscriptionService" name="WSDualHttpBinding_IOrdersSubscriptionService">
            </endpoint>
            <endpoint address="http://localhost/NorthwindWCFServices/CategoriesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoriesService"
                contract="CategoriesService.ICategoriesService" name="BasicHttpBinding_ICategoriesService" />
            <endpoint address="net.tcp://localhost/NorthwindWCFServices/CategoriesService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICategoriesService"
                contract="CategoriesService.ICategoriesService" name="NetTcpBinding_ICategoriesService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>