<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoriesService_IIS" />
                <binding name="BasicHttpBinding_ICategoriesService_SH" />
                <binding name="BasicHttpBinding_IOrdersService_IIS" maxReceivedMessageSize="655360" />
                <binding name="BasicHttpBinding_IOrdersService_SH" maxReceivedMessageSize="655360" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICategoriesService_IIS" />
                <binding name="NetTcpBinding_ICategoriesService_SH" transferMode="Streamed" />
                <binding name="NetTcpBinding_IOrdersService_IIS" maxReceivedMessageSize="655360" />
                <binding name="NetTcpBinding_IOrdersService_SH" maxReceivedMessageSize="655360" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IOrdersSubscriptionService_IIS" />
                <binding name="WSDualHttpBinding_IOrdersSubscriptionService_SH" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/NorthwindWCFServices/OrdersService.svc"
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IOrdersService_IIS"
                      contract="WCFServices.Cotracts.IOrdersService"
                      name="BasicHttpBinding_IOrdersService_IIS" />
            <endpoint address="net.tcp://epruizhw0228/NorthwindWCFServices/OrdersService.svc"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_IOrdersService_IIS"
                      contract="WCFServices.Cotracts.IOrdersService"
                      name="NetTcpBinding_IOrdersService_IIS" />
            <endpoint address="http://epruizhw0228/NorthwindWCFServices/OrdersService.svc/subscription"
                      binding="wsDualHttpBinding"
                      bindingConfiguration="WSDualHttpBinding_IOrdersSubscriptionService_IIS"
                      contract="WCFServices.Cotracts.IOrdersSubscriptionService"
                      name="WSDualHttpBinding_IOrdersSubscriptionService_IIS" />
            <endpoint address="http://epruizhw0228/NorthwindWCFServices/CategoriesService.svc"
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_ICategoriesService_IIS"
                      contract="WCFServices.Cotracts.ICategoriesService"
                      name="BasicHttpBinding_ICategoriesService_IIS" />
            <endpoint address="net.tcp://epruizhw0228/NorthwindWCFServices/CategoriesService.svc"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_ICategoriesService_IIS"
                      contract="WCFServices.Cotracts.ICategoriesService"
                      name="NetTcpBinding_ICategoriesService_IIS" />
            <endpoint address="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/OrdersService/"
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_IOrdersService_SH"
                      contract="WCFServices.Cotracts.IOrdersService"
                      name="BasicHttpBinding_IOrdersService_SH" />
            <endpoint address="net.tcp://epruizhw0228:809/NorthwindWCFServices/OrdersService"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_IOrdersService_SH"
                      contract="WCFServices.Cotracts.IOrdersService"
                      name="NetTcpBinding_IOrdersService_SH" />
            <endpoint address="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/OrdersService/subscription"
                      binding="wsDualHttpBinding"
                      bindingConfiguration="WSDualHttpBinding_IOrdersSubscriptionService_SH"
                      contract="WCFServices.Cotracts.IOrdersSubscriptionService"
                      name="WSDualHttpBinding_IOrdersSubscriptionService_SH" />
            <endpoint address="http://epruizhw0228:8733/Design_Time_Addresses/NorthwindWCFServices/CategoriesService/"
                      binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_ICategoriesService_SH"
                      contract="WCFServices.Cotracts.ICategoriesService"
                      name="BasicHttpBinding_ICategoriesService_SH" />
            <endpoint address="net.tcp://epruizhw0228:810/NorthwindWCFServices/CategoriesService"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_ICategoriesService_SH"
                      contract="WCFServices.Cotracts.ICategoriesService"
                      name="NetTcpBinding_ICategoriesService_SH">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>