<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="NortwindDBConnection" connectionString="data source=epruizhw0228\mssql2008r2;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="WCFServices.OrdersService.OrdersService">
                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="WCFServices.OrdersService.IOrdersService" />
                <endpoint address="net.tcp://localhost:808/NorthwindWCFServices/OrdersService.svc"
                          binding="netTcpBinding"
                          contract="WCFServices.OrdersService.IOrdersService" />
                <endpoint address="subscription"
                          binding="wsDualHttpBinding"
                          contract="WCFServices.OrdersSubscriptionService.IOrdersSubscriptionService"/>
            </service>
            <service name="WCFServices.CategoriesService.CategoriesService">
                <endpoint address=""
                          binding="basicHttpBinding"
                          bindingConfiguration="streamedHttpBinding"
                          contract="WCFServices.CategoriesService.ICategoriesService"/>
                <endpoint address="net.tcp://localhost:808/NorthwindWCFServices/CategoriesService.svc"
                          binding="netTcpBinding"
                          contract="WCFServices.CategoriesService.ICategoriesService" />
            </service>
        </services>
        <serviceHostingEnvironment>
            <serviceActivations>
                <add service="WCFServices.OrdersService.OrdersService" relativeAddress="OrdersService_2.svc"/>
                <add service="WCFServices.CategoriesService.CategoriesService" relativeAddress="CategoriesService_2.svc"/>
            </serviceActivations>
        </serviceHostingEnvironment>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="streamedHttpBinding" transferMode="Streamed" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
